
# Generally the default for production server usage...
-J-server

# Memory settings
-J-Xms105m
-J-Xmx128m

# Enabled debug logs
-Dakka.loglevel=debug
-Dcontrail.syslog.server.elasticsearch.enabled=off

# Require access to cgroups if running on a platform that supports them.
-Dconductr.agent.require-cgroups=true

# Conductr IP to listen on
-Dconductr.agent.ip={{ conductr_core_listen_ip }}

--core-node {{ conductr_core_listen_ip }}:9004
