# Generally the default for production server usage...
-J-server

# Memory settings
-J-Xms210m
-J-Xmx256m

# Enable debug logs
-Dakka.loglevel=debug
-Dcontrail.syslog.server.elasticsearch.enabled=off

# Conductr IP to listen on
-Dconductr.ip={{ conductr_core_listen_ip }}

{% if conductr_is_follower %}
--seed {{ conductr_leader }}:9004
{% endif %}