
# Generally the default for production server usage...
-J-server

# Memory settings
-J-Xms105m
-J-Xmx128m

# Enabled more logs
-Dakka.loglevel=info
-Dconductr.service-locator-server.external-service-addresses.elastic-search.0=http://127.0.0.1:514

# Require access to cgroups if running on a platform that supports them.
-Dconductr.agent.require-cgroups=true

# Conductr IP to listen on
-Dconductr.agent.ip={{ ansible_default_ipv4.address }}

--core-node {{ ansible_default_ipv4.address }}:9004

# Set up roles
-Dconductr.agent.roles.0=web
-Dconductr.agent.roles.1=haproxy
